@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Roboto, "Sergeo UI", sans-serif;
}

video {
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: auto;
    height: auto;
    min-width: 100vw;
    min-height: 100vh;
    transform: translate(-50%, -50%);
    z-index: -100;
}

body > nav {
    height: 4em;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

body > nav #hamburger {
    margin-left: 1em;
    margin-top: 1em;
    height: 2em;
    width: 2em;
    display: none;
}

body > nav ul {
    grid-column: 2/3;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

body > nav ul li {
    margin: 0 0.3em;
    align-self: center;
    font-size: 1.5em;
}

.heading {
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    height: 11em;
    padding: 3em 0;
    box-sizing: border-box;
}

.heading h1, .heading h2 {
    font-family: Roboto, sans-serif;
}

.heading h1 {
    margin-bottom: 1rem;
}

#content {
    width: calc(200vw / 3);
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#content > section {
    padding: 3em;
    padding-bottom: 0;
}

#content > footer {
    padding: 2em 3em;
    padding-top: 4em;
    text-align: right;
}

#content > section h2 {
    margin-bottom: 0.8em;
}

#content > section p {
    margin: 0.5em 0;
}

#content > section footer {
    opacity: 0.5;
}

#sportcontent ul {
    list-style: none;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
}

#sportcontent li article {
    float: left;
    width: calc(100% - 6em);
}

#sportcontent img {
    float: right;
    width: 6em;
}

#contactcontent legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

#contactcontent label {
    display: block;
    width: 100%;
    margin: 0.8em 0;
}

#contactcontent input {
    font-size: 1.2em;
    width: 100%;
    padding: 0.3em;
    margin-bottom: 0.8em;
    color: #000000;
    background: #eeeeee;
}

#contactcontent textarea {
    font-size: 1.2em;
    width: 100%;
    min-height: calc(3.6em + 10px);
    padding: 0.3em;
    margin-bottom: 10px;
    resize: vertical;
    background: #eeeeee;
}

#contactcontent input:focus, #contactcontent textarea:focus {
    outline: 1px solid #aaaaaa;
}

#contactcontent button {
    font-size: 1.2em;
    margin-top: 0.8em;
    padding: 0.6em 1em;
    background-color: #2699FB;
    color: #FFFFFF;
    border: 2px solid #2699FB;
    transition: color 0.3s, background-color 0.3s;
}

#contactcontent button:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #2699FB;
}

#referralcontent aside {
    margin-bottom: 0.5em;
}

#cookie {
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 10em;
    height: 6em;
    background: #707070;
}

#cookie p {
    padding: 0.5em;
}

#cookie button {
    margin: 0 0.5em;
    width: 9rem;
    text-align: center;
    font-size: 0.7em;
    color: #444444;
}

/* tablet styles */
@media only screen and (min-width: 481px) and (max-width: 1179px) {
    body > nav {
        grid-template-columns: 0px auto 0px;
    }
    
    .heading {
        font-size: 1.6em;
    }
    
    #content {
        width: 100%;
    }
}

/* mobile styles */
@media only screen and (max-width: 480px) {
    body > nav ul {
        display: none;
    }
    
    body > nav #hamburger {
        display: block;
    }
    
    .heading {
        font-size: 1.2em;
    }
    
    #content {
        width: 100%;
    }
    
    #sportcontent ul {
        grid-template-columns: 100%;
    }
}